@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins-Light';
  src: url('../public/fonts/poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url('../public/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url('../public/fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../public/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('../public/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Karantina-Regular';
  src: url('../public/fonts/karantina/Karantina-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  html {
    @apply scroll-smooth bg-cover bg-fixed bg-[#1A0E06] text-somos-brown font-poppins;
  }
  h1 {
    @apply text-somos-brown-dark text-2xl md:text-[40px] font-poppins-semibold;
  }
  h2 {
    @apply text-somos-brown-dark text-2xl md:text-[40px] font-poppins-semibold md:leading-[45px];
  }
  /* h3 {
    @apply text-white text-xs lg:text-xl;
  } */
  /* h3 {
    @apply text-somos-brown-dark text-base;
  } */
  p {
    @apply text-sm;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 200% 0%;
  }
}

/* Wallet Adapter */

.wallet-adapter-modal-wrapper {
  @apply !rounded-sm !bg-opacity-90 !uppercase;
}
.wallet-adapter-modal-wrapper h1 {
  @apply !text-white;
}
.wallet-adapter-button {
  @apply hover:!bg-opacity-100;
}
.wallet-adapter-modal-button-close {
  @apply !bg-transparent;
}

/*  Layout  */

.row-centered {
  @apply flex items-center justify-center;
}
.row-between {
  @apply flex items-center justify-between;
}
.row-start {
  @apply flex items-start justify-start;
}
.row-evenly {
  @apply flex items-center justify-evenly;
}
.row-around {
  @apply flex items-center justify-around;
}
.col-centered {
  @apply flex flex-col items-center justify-center;
}
.col-start {
  @apply flex flex-col items-start justify-start;
}
.col-evenly {
  @apply flex flex-col items-center justify-evenly;
}
.col-around {
  @apply flex flex-col items-center justify-around;
}

/* Animations */
.transition-1000 {
  @apply transition-all duration-1000;
}
.transition-700 {
  @apply transition-all duration-700;
}
.transition-500 {
  @apply transition-all duration-500;
}
.transition-300 {
  @apply transition-all duration-300;
}
.transition-200 {
  @apply transition-all duration-300;
}

/* custom */
.teal-hover-dark {
  @apply bg-somos-teal hover:bg-somos-teal-600 active:bg-somos-teal-800 disabled:hover:bg-somos-teal; 
}
.teal-light {
  @apply bg-somos-teal hover:bg-somos-teal-400 active:bg-somos-teal-300; 
} 
.hover-opacity {
  @apply transition-200 hover:opacity-60 active:opacity-30;
}
.hover-opacity-1 {
  @apply transition-200 hover:opacity-70 active:opacity-40;
}
.hover-opacity-2 {
  @apply transition-200 hover:opacity-80 active:opacity-60;
}
.hover-opacity-3 {
  @apply transition-200 hover:opacity-90 active:opacity-80;
}
.hover-brown {
  @apply bg-somos-brown-dark hover:bg-somos-brown transition-200 active:opacity-80;
}

.inner-padding {
  @apply px-6 md:px-[10vw] lg:px-[15vw] pt-[13svh] md:pt-[16svh] lg:pt-[14svh] 2xl:pt-[18svh] 3xl:pt-[15svh];
}
.description-padding {
  @apply px-6 md:px-[10vw] lg:px-[15vw] pt-[15svh] md:pt-[24svh] lg:pt-[10svh] 2xl:pt-[18svh] 3xl:pt-[15svh];
}
.infographic-padding {
  @apply px-6 pt-[15svh] md:pt-[10svh] lg:pt-[15svh] 3xl:pt-[8svh];
}
.description-page-height {
  @apply min-h-[650px] 2xs:min-h-[700px] md:min-h-[800px] lg:min-h-[900px] max-h-[1080px];
}
.infographic-page-height {
  @apply min-h-[675px] 2xs:min-h-[750px] md:min-h-[760px]  lg:min-h-[1020px] max-h-[1080px];
}

.max-width {
  @apply max-w-[1200px] 3xl:max-w-[1400px];
}

.opaque-gradient {
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #FFFCF3 100%);
}

.-rotate-36 {
  --tw-rotate: -36deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.modal-gradient { 
  background: linear-gradient(180.07deg, rgba(0, 0, 0, 0.33) 13.28%, rgba(0, 0, 0, 0.69) 67.71%);
}
.info-gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 39.5%, rgba(0, 0, 0, 0.69) 77.5%);
}

.hscroll {
  overflow-y: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hscroll::-webkit-scrollbar {
  display: none; /* For Chrome, Safari and Opera */
}
