@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins-Light';
  src: url('../public/fonts/poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url('../public/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url('../public/fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../public/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('../public/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  html {
    @apply scroll-smooth bg-main bg-cover bg-fixed bg-somos-white text-somos-brown font-poppins;
  }
  h1 {
    @apply text-somos-brown-dark text-2xl md:text-[40px] font-poppins-semibold;
  }
  h2 {
    @apply text-somos-brown-dark text-2xl md:text-[40px] font-poppins-semibold;
  }
  /* h3 {
    @apply text-white text-xs lg:text-xl;
  } */
  h3 {
    @apply text-somos-brown-dark text-base;
  }
  p {
    @apply text-sm;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 200% 0%;
  }
}

/* Wallet Adapter */

.wallet-adapter-modal-wrapper {
  @apply !rounded-sm !bg-opacity-90 !uppercase;
}
.wallet-adapter-modal-wrapper h1 {
  @apply !text-white;
}
.wallet-adapter-button {
  @apply hover:!bg-opacity-100;
}
.wallet-adapter-modal-button-close {
  @apply !bg-transparent;
}

/*  Layout  */

.row-centered {
  @apply flex items-center justify-center;
}
.row-between {
  @apply flex items-center justify-between;
}
.row-start {
  @apply flex items-start justify-start;
}
.row-evenly {
  @apply flex items-center justify-evenly;
}
.row-around {
  @apply flex items-center justify-around;
}
.col-centered {
  @apply flex flex-col items-center justify-center;
}
.col-start {
  @apply flex flex-col items-start justify-start;
}
.col-evenly {
  @apply flex flex-col items-center justify-evenly;
}
.col-around {
  @apply flex flex-col items-center justify-around;
}

/* Animations */
.transition-1000 {
  @apply transition-all duration-1000;
}
.transition-500 {
  @apply transition-all duration-500;
}
.transition-300 {
  @apply transition-all duration-300;
}
.transition-200 {
  @apply transition-all duration-300;
}

/* custom */
.white-hover {
  @apply transition-200 hover:opacity-60 active:opacity-30;
}
